.rodape {
    padding: 2em 5%;
    text-align: center;
    font-size: 1.1rem;
}

.rodape__logo {
    width: 11.25em;
    margin-bottom: 1em;
}

.rodape__endereco {
    margin-bottom: 1em;
    line-height: 1.5;
}

.rodape__copyright {
    display: inline;
    margin-left: 1em;
}

.rodape__contato--redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.rodape__contato--redes-sociais--item {
    width: 2.62em;
}

.rodape__contato--redes-sociais-item img {
    width: 100%;
}

.rodape__titulo {
    margin-bottom: 1em;

    font-size: 1.45em;
    font-weight: bold;
    text-transform: uppercase;
}

.rodape__atalhos {
    color: grey;
    margin: 0.6em;
}

.rodape__item--lista {
    font-weight: 500;
    margin: 0.6em 0;
}

section {
    margin-top: 2em;
}
