body {
    width: 80%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: #2e4255;
}

.titulo {
    padding: 10px;

    font-size: 32px;

    background-color: #e1edf2;
}

.subtitulo {
    border-bottom: 2px solid black;
}

figure {
    max-width: 100%;
    box-sizing: border-box;
    margin: 30px;
    padding: 15px;

    text-align: center;

    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

figcaption {
    margin-top: 10px;
}

.matriz-musicdot {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.familia-tupfeln {
    width: 275px;
    float: right;
}

figure img {
    width: 100%;
}

.contato__subtitulo {
    display: inline;
}

.contato__secao {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.contato__secao--telefone {
    margin-left: 32px;
}

.contato__info {
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contato__info-titulo,
.contato__info-descricao {
    display: inline;
}

.contato__info-descricao {
    margin-left: 10px;
}

@media (max-width: 850px) {
    .contato__secao,
    .contato__secao contato__secao--telefone {
        display: block;
        margin-left: 1em;
    }
}

@media (max-width: 622px) {
    .familia-tupfeln {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 446px) {
    .contato__subtitulo {
        display: block;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

@media (max-width: 342px) {
    .contato__info-titulo {
        display: block;
    }

    .contato__info {
        padding: 0px;
    }
}
